@use "reset-css.scss";
@use "colors.scss";

.popular__carousel {
  article {
    flex: 0 0 auto;
    width: 363px;
    height: 446px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    scroll-snap-align: center;

    h2 {
      font-size: 28px;
      font-weight: 400;
      margin-top: 12px;
      padding-left: 17px;
      margin-bottom: 2px;
    }
  }
}

.popular__carousel-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.carousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 20px;
}

.popular__rating {
  display: flex;
}

.popular__stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 9px;
  padding-left: 18px;
  img {
    margin-right: 4px;
  }
}

.popular__paragraph {
  width: 328px;
  height: 63px;
  margin-top: 18px;
  padding-left: 18px;
  margin-bottom: 11px;

  p {
    width: 328px;
    height: 63px;
    line-height: 20px;
    font-size: 18px;
    font-weight: 400;
  }
}

.popular__button {
  display: flex;
  justify-content: flex-end;
  padding-right: 18px;
  button {
    border-radius: 4px;
    background: colors.$red;
    color: colors.$white;
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 12px 35px;
  }
}

@media screen and (min-width: 770px) {
  .popular__carousel {
    margin-bottom: 87px;
  }

  .popular__rating {
    display: flex;
    justify-content: space-between;
  }

  .popular__participants {
    padding-right: 11px;
  }

  .middle {
    margin-left: 42px;
    margin-right: 42px;
  }
}
