@media screen and (min-width: 770px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
  }

  .all-challenges {
    display: grid;
    grid-template-rows: auto 1fr;

    picture {
      grid-row: 1;
    }
  }

  .on-site {
    display: grid;
    grid-template-rows: auto 1fr;

    picture {
      grid-row: 1;
    }
  }
}
