@use "reset-css.scss";
@use "colors.scss";

header {
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 35px;
  height: 144px;
  background-color: colors.$navy;

  h1 {
    height: 84px;
    width: 78px;
    color: colors.$white;
    font-size: 24px;
    font-weight: 700;
  }

  menu {
    display: none;
  }

  .header__logo {
    gap: 13px;
    display: flex;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 770px) {
  header {
    height: 216px;

    h1 {
      margin-top: 61px;
      height: 47px;
      width: 404px;
      font-size: 40px;
      font-weight: 700;
    }

    .header__logo {
      gap: 24px;
      display: flex;
      flex-shrink: 0;

      img {
        margin-top: 26px;
        height: 82px;
      }
    }
  }

  nav {
    display: flex;
    justify-content: center;
  }

  nav menu {
    margin-top: 35px;
    gap: 114px;
    li {
      list-style: none;
    }

    a {
      color: colors.$white;
      font-size: 24px;
      font-weight: 700;
      text-decoration: none;
    }
    a:hover {
      color: colors.$light-blue;
    }

    display: flex;
  }
}
