@use "reset-css.scss";
@use "colors.scss";
@use "header.scss";
@use "flex-group.scss";
@use "testomonial.scss";
@use "carousel.scss";
@use "story.scss";
@use "grid.scss";
@use "footer.scss";

body {
  font-family: "Roboto", sans-serif;
}

.popular-title {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}

.hero img {
  width: 100%;
}

@media screen and (min-width: 770px) {
  .popular-title {
    font-size: 36px;
    margin-bottom: 87px;
  }
}
